.inner {
  width: 480px;
  height: 400px;
  background-color: #95beeb;
  margin: 20px;
  box-shadow: 6px 6px 15px black;
  border-radius: 10px;
}
.inner:hover {
  background-color: #ca7fe0;
  transition: 0.5s;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 10px;
  background-color: rgb(190, 208, 211);
}
.back-button {
  padding: 5px 5px;
  font-size: 15px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80px;
  text-align: center;
  margin-left: 18px;
}

.back-button:hover {
  background-color: #0056b3; /* Change color on hover */
}

img {
  padding-top: 5px;
  width: 200px;
  height: 150px;
  padding-left: 10px;
  border-radius: 10px;
}
.text {
  padding-left: 10px;
  padding-right: 10px;
  word-wrap: break-word;
  margin-left: 2px;
  text-align: justify;
}
