/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e8f8f5;
}

nav {
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

/* Active tab (Home) */
nav ul li a.active {
  background-color: #00c07f;
  color: white;
  font-weight: bold;
}
